@import url('https://fonts.cdnfonts.com/css/noto-sans');
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #F8F7F6;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}
.header{
    position: sticky;
    transition: all 300ms;
    height: 80px;
    background: #FFF;
    top:0;
    z-index: 10000;
}
.mobile-overlay{
    z-index: 1000;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    display: none;
    overflow: hidden;
}
.mobile-header-gp{
    height: 100%;
    display: none;
}
.mobile-menu{
    display: flex;
    flex-direction: column; /* 垂直布局 */
    height: 100%;
    width: 60vw;
    background: #FFF;
}
.mobile-menu-header{
    padding: 0px 16px;
    border-bottom: 1px solid #C2C2C2;
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
}
.mobile-header-gp-links{
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 垂直方向滚动 */
}
.mobile-header-gp-links-gradeGp{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.mobile-header-gp-links a,.mobile-header-gp-list{
    padding: 16px 16px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.mobile-header-gp-links-gradeGp-items{
    display: flex;
    flex-direction: column;
    gap:0;
    display: none;
    background: #EFEFEF;
    padding: 10px 0;
}
.mobile-header-gp-links-gradeGp-items a{
    background: #EFEFEF;
}
.pc-header-gp{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pc-header-gp-links{
    gap: 36px;
}
.pc-header-gp-links a,div{
    font-family: Noto Sans;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    gap: 8px;
}
.pc-header-gp-links-gradeGp{
    position: relative;
}
.pc-header-gp-links-gradeGp-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    position: absolute;
    top: 36px;
    right: 0;
    width: 500px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    display: none;
}
.pc-header-gp-links-gradeGp-items {
    display: grid;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    pointer-events: none; /* 防止交互 */
}

.pc-header-gp-links-gradeGp-items.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* 允许交互 */
}
.pc-header-gp-links-gradeGp-items a{
    padding: 12px 16px;
}
.pc-header-gp-links-arrow{
    transition: transform 0.3s;
}
.mobile-header-gp-links-arrow{
    transition: transform 0.3s;
}
.rotate {
    transform: rotate(180deg);
}
/* 開始處理輪播圖 */
.custom-carousel-height {
    background: pink;
}
.carousel-item img{
    object-fit: cover;
    max-height: 370px !important;
}
.icon-title{
    color: #000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    gap: 4px;
    padding: 24px 0px;
    align-items: center;
}
.itemgroup{
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
}
.itembox{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    background: #DDD;
}
.pc-areagroup{
    display: grid;
    width: 100%;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
}
.item-area{
    display: flex;
    height: 150px;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat; */
    border-radius: 8px;
}
.itam_area_padding{
    width: 100%;
    display: flex;
    padding: 16px;
    text-decoration: none;
    
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: flex-end;
}
.itembox-padding{
    padding: 12px 0px;
}
@media screen and (max-width: 1023px) {
    .pc-areagroup{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
    .itemgroup{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
    .header{
        height: 60px;
    }
    .pc-header-gp{
        display: none;;
    }
    .mobile-header-gp{
        display: flex;
        padding: 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
 
    /* 在這裡寫上當視窗寬度小於 1024px 時應用的 CSS 樣式 */
}
