@import url('https://fonts.cdnfonts.com/css/noto-sans');
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #F8F7F6 !important;
    background: #F8F7F6 !important;
}
h2{
    color: #000 !important;
    font-family: "Noto Sans";
    font-size: 36px !important; 
    font-weight: 800 !important;
}
h3{
    font-family: "Noto Sans";
    font-size: 28px !important;
    font-weight: 800 !important;
}
p{
    color: #686868 !important;
    font-family: "Noto Sans";
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 200% !important; /* 36px */
}
.bg-color{
    background-color: #F8F7F6 !important;
    background: #F8F7F6 !important;
    padding-bottom: 40px;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}
.header{
    position: sticky;
    transition: all 300ms;
    height: 80px;
    background: #FFF;
    top:0;
    z-index: 10000;
}
.mobile-overlay{
    z-index: 1000;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    display: none;
    overflow: hidden;
}
.mobile-header-gp{
    height: 100%;
    display: none;
}
.mobile-menu{
    display: flex;
    flex-direction: column; /* 垂直布局 */
    height: 100%;
    width: 60vw;
    background: #FFF;
}
.mobile-menu-header{
    padding: 0px 16px;
    border-bottom: 1px solid #C2C2C2;
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
}
.mobile-header-gp-links{
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 垂直方向滚动 */
}
.mobile-header-gp-links-gradeGp{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.mobile-header-gp-links a,.mobile-header-gp-list{
    padding: 16px 16px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.mobile-header-gp-links-gradeGp-items{
    display: flex;
    flex-direction: column;
    gap:0;
    display: none;
    background: #EFEFEF;
    padding: 10px 0;
}
.mobile-header-gp-links-gradeGp-items a{
    background: #EFEFEF;
}
.pc-header-gp{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pc-header-gp-links{
    gap: 36px;
}
.pc-header-gp-links a,div{
    font-family: Noto Sans;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}
.pc-header-gp-links-gradeGp{
    position: relative;
}
.pc-header-gp-links-gradeGp-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-flow: dense;
    position: absolute;
    top: 36px;
    right: 0;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    pointer-events: none; /* 防止交互 */
}
.pc-header-gp-links-gradeGp-items a{
    padding: 12px 16px;
}
.pc-header-gp-links-gradeGp-items-vertical{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 36px;
    right: 0;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20.8px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    pointer-events: none; /* 防止交互 */
}
.pc-header-gp-links-gradeGp-items-vertical a{
    padding: 12px 16px;
}
.coming-soon{
    position: relative;
    border-radius: 8px;
    pointer-events: none;
}
.coming-soon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.200000190734863px);
}
.comming-soon-font{
    position: absolute;
    z-index: 100;
    color: #fff !important;
    bottom: 50%;  /* 垂直居中 */
    left: 50%;    /* 水平居中 */
    transform: translate(-50%, 50%); /* 将元素自身的中心点移到父容器的中心 */
    font-size: 20px !important;
    margin-bottom:0;
}
.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* 允许交互 */
}
.pc-header-gp-links-arrow{
    transition: transform 0.3s;
}
.mobile-header-gp-links-arrow{
    transition: transform 0.3s;
}
.rotate {
    transform: rotate(180deg);
}
/* 開始處理輪播圖 */
.custom-carousel-height {
    background: pink;
}
.carousel-item img{
    object-fit: cover;
    max-height: 370px !important;
}
.icon-title{
    color: #000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    gap: 4px;
    padding: 24px 0px;
    align-items: center;
}
.itemgroup{
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
}
.itemgroup-flex{
    display: flex;
    width: 100%;
    gap: 24px;
}
.itembox{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    background: #DDD;
}
.pc-areagroup{
    display: grid;
    width: 100%;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
}
.item-area{
    display: flex;
    height: 150px;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat; */
    border-radius: 8px;
    background-size: cover;
}
.itemgroup-flex .item-area{
    flex: 1 1 0;
    max-width: 400px;
    height: 200px;
}
.bg-spring{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(/image/a-pigeon-races-in-spring.jpg) !important;
}
.bg-summer{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(/image/a-pigeon-races-in-summer.jpg) !important;
}
.bg-autumn{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(/image/a-pigeon-race-in-autumn.jpg) !important;
}
.bg-winter{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(/image/a-pigeon-races-in-winter.png) !important;
}
.itam_area_padding{
    width: 100%;
    display: flex;
    padding: 16px;
    text-decoration: none;
    
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: flex-end;
}
.itembox-padding{
    padding: 12px 0px;
}
/* area頁面系列 */
.area_title{
    border-left: 4px solid #3256B2;
    padding-left: 16px;

    color: #3256B2;

    font-family: "Noto Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.area_title_gp{
    padding: 24px 4%;
}
.grade_gp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}
.grade_gp_img{
    width: 100%;
    
}
.grade_group_item{
    width: 100%;
    display: block;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    background: #E1E1E1;
    overflow: hidden;
}
.Rwd_block{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.Rwd_block > *{
    flex: 1 1 0;
}
.aboutus_text_area{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Rwd_row{
    display: flex;
    flex-direction: row;
    gap: 1px;

}
.Rwd_row > *{
 background-color: white;
}
.colcum{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    background: #E1E1E1;
    gap: 1px;
}
.colcum > *{
    background-color: white;
}
.single_item{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.mult_item{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
}
.item_link_font{
    color: #3256B2;
    font-weight: 800;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 20px;
}
.item_normal_font{
    color: #686868;
    font-family: "Noto Sans";
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.flexbox_grow_X{
    flex-grow: 0;
}
.page_content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.aboutus_card{
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: #E4E4E4;
}
.colcum_img{
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.text_center{
    text-align: center;
}
.grade_group_title{
    display: block;
    width: 100%;
    color: #FFF;
    font-family: "Noto Sans";
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    padding: 16px;
    background: #3256B2;
}
.grade_group_item > :first-child{
    border-top-left-radius: 8px; /* 第一個元素的左上角 */
    border-top-right-radius: 8px; /* 第一個元素的右上角 */
  }
  
.grade_group_item > :last-child{
    border-bottom-left-radius: 8px; /* 最後一個元素的左下角 */
    border-bottom-right-radius: 8px; /* 最後一個元素的右下角 */
  }

  /* 社群媒體相關 */
  
/* icon social */

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */
.social-media-list {
  display: block;
  font-size: 24px;
  text-align: left;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
  text-align: center;
}
.contact-icon{
  display: block;
  z-index: 30;
  min-width: 30px;
  min-height: 30px;
}
.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #3256B2;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #052065;
  transition: all .2s ease-in-out;
    pointer-events: none;
  cursor: default;
}

.social-media-list li:hover {
  background-color: #052065; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #FFF;
}

  /* 社群媒體相關 */
@media screen and (max-width: 1023px) {
    .itemgroup-flex{
        flex-direction: column;
    }
    .itemgroup-flex .item-area{
        flex: none;
        min-width: 100%;
        max-width: 400px;
        height: 200px;
    }s
    .social-media-list {
        text-align: center;
      }
    .Rwd_block{
        display: flex;
        flex-direction: column;
    }
    .Rwd_row{
        display: flex;
        flex-direction: column;
    }
    .pc-areagroup{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
    .itemgroup{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
    .header{
        height: 60px;
    }
    .pc-header-gp{
        display: none;;
    }
    .mobile-header-gp{
        display: flex;
        padding: 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
 
    /* 在這裡寫上當視窗寬度小於 1024px 時應用的 CSS 樣式 */
}
